.resimSlider{
    height: 600px;
}

body{
    font-family: 'Libre Baskerville', serif;
}

.hakkimizda{
    background-color: #dfd5d5;
}


.ayrac{
    border:none;
    border-top:3px solid #000000;
    max-width: 250px;
    margin: 25px auto;
}

.igri{
    color: #928787;
    position: relative;
    top: -50px;
    font-size: 35px;
    border: 10px solid #dfd5d5;
    background-color: #dfd5d5;
}

.ibeyaz{
    color: #928787;
    position: relative;
    top: -50px;
    font-size: 35px;
    border: 10px solid white;
    background-color: white;
}

.gelenekselgiyimlerCard>img:hover{
    opacity: 0.8;
}

.galeri{
    background-color: #dfd5d5;
}

.figure:hover{
    opacity: 0.8;
}